* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-image: url(pics/shkoder.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
}


/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: black;
}

.brand-title {
    font-size: 2rem;
    margin: 0.5rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.brand-title:hover {
    background-color: #5AA239;
}

.brand-title a {
    text-decoration: none;
    color: black;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color:black;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #5AA239;
}

.toggle-btn {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem ;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* sticky */
#sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.leak {
    padding-top: 20%;
}
.collection_links  {
    position: relative;
    top: 35%;
    left: 10%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    
}

.nav-link, .small_collection {
    list-style: none;
    text-decoration: none;
    display: inline;
    font-size: 3rem;
    padding: 5%;
    color: black;
    opacity: 0.5;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    background-color: #96b746; 
    
}

@media (max-width: 800px) {
    .collection_links  {
        position: relative;
        top: 35%;
        left: 0.8%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        
    }
}

@media (max-width: 700px) {
    .nav-link  {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
    
    }
}