/* new */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


a{
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.5;
    color: #5AA239;
}

.large {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.small {
    font-size: 0.8rem;
    color: #161616a9;
}

/* menu toggle */
.menu-toggle {
    position: fixed;
    z-index: 9999;
    right: 5%;
    top: 4rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
}

.menu-toggle.active {
    transform: rotate(-180deg);
}

.menu-toggle span {
    background: #5AA239;
    width: 100%;
    height: 3px;
}

.menu-toggle.active span:nth-child(1) {
    position: absolute;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    position: absolute;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* nav */

nav{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    pointer-events: none;
}

.nav.active{
    pointer-events: auto;
}

.nav-left{
    position: relative;
    z-index: 10;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background: white;
    transition: 0.8s;
}


.nav-left.active {
    left: 0;
    transition: 0.5s;
}

.nav-left ul {
    position: relative;
    top: 35%;
    left: 10%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.nav-right {
    position: absolute;
    z-index: 9;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    /* background-color: chartreuse; */
    background-image: url(pics/1.jpg);
    background-size: cover;
    transition: 0.8s;
}

.nav-right.active {
    left: 50%;
    transition: 0.5s;
}

.nav-link {
    opacity: 0;
    position: relative;
    left: -10%;
}

.nav-link.active {
    opacity: 1;
    transition: 0.5s;
    left: 0;
}

.contact {
    position: absolute;
    opacity: 0;
    bottom: 10%;
    left: 0;
    pointer-events: auto;
}

.contact.active {
    opacity: 1;
    left: 10%;
    transition: 0.5s;
}

.logo {
    position: fixed;
    top: 4rem;
    left: 5%;
    z-index: 100;
    color: #5AA239;
    font-size: 1.5rem;
    text-transform: uppercase;
    pointer-events: none;
    transition: 1s;
}

.logo.active {
    color: black;
}


.img{
    position: relative;
    top: 20vh;
    height: 100px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* @keyframes move {
    from {
        left: 0%;
    }
    to {
       left: 25%;
    }
} */


.img        
    {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}

#extra {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
  }

  .leak {
    padding-top: 10%;
}

#svg {
    width: 20%;
    bottom: 0%;
    position:absolute;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 20s;
}
@-webkit-keyframes run {
    0% { left: 0;}
    50%{ left : 75%;}
    100%{ left: 0;}

}
/* @media (max-width: 1000px){
    .img{
    position: relative;
    top: 20vh;
    right: 150px;
    height: 100px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
}

@media (max-width: 600px){
    .img{
    position: relative;
    top: 20vh;
    right: 250px;
    height: 100px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
} */

/* @media (max-width: 1367px){
    .img {
    position: fixed;
    top: 20%;
    right: 700%;
    width: 80%;
    height: 600px;
    }

} */

@media (max-width: 1100px){
    #extra {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

}
@media (max-width: 1050px){
    #extra {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

}

@media (max-width: 1000px){
    #extra {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

}


@media (max-width: 750px){
    #extra {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

}

@media (max-width: 350px){
    #extra {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}