* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-transform: uppercase;
}


/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: black;
}

.brand-title {
    font-size: 2rem;
    margin: 0.5rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.brand-title:hover {
    background-color: #5AA239;
}

.brand-title a {
    text-decoration: none;
    color: black;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color:black;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #5AA239;
}

.toggle-btn {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem ;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* sticky */
#sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#grid {
    height: auto;
    display: flex;
    width: 50%;
    padding: 10px;
}

/* bio text */
.centered {
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered:hover {
    color: #5AA239;

  } 
  .centered_two {
    position: absolute;
    top: 210%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_two:hover {
    color: #5AA239;

  } 
  .centered_three {
    position: absolute;
    top: 345%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_three:hover {
    color: #5AA239;

  } 

  .centered_four {
    position: absolute;
    top: 470%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_four:hover {
    color: #5AA239;

  } 
  .centered_five {
    position: absolute;
    top: 620%;
    left: 71%;
    transform: translate(-50%, -50%);
  }
  .centered_five:hover {
    color: #5AA239;

  } 
  .centered_six {
    position: absolute;
    top: 750%;
    left: 71%;
    transform: translate(-50%, -50%);
  }

  .centered_six:hover {
    color: #5AA239;

  } 
  .centered_seven {
    position: absolute;
    top: 890%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_seven:hover {
    color: #5AA239;

  } 
  .centered_eight {
    position: absolute;
    top: 1030%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  

  .centered_eight:hover {
    color: #5AA239;

  } 
  .centered_nine {
    position: absolute;
    top: 1150%;
    left: 71%;
    transform: translate(-50%, -50%);
  }
  .centered_nine:hover {
    color: #5AA239;

  } 

  .centered_ten {
    position: absolute;
    top: 1290%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_ten:hover {
    color: #5AA239;

  } 

  .centered_eleven {
    position: absolute;
    top: 1430%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  
  .centered_eleven:hover {
    color: #5AA239;

  } 
  .centered_twelve {
    position: absolute;
    top: 1570%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_twelve:hover {
    color: #5AA239;

  } 



/* @media (max-width: 1100px){
    .centered {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}
@media (max-width: 1050px){
    .centered {
        position: absolute;
        top: 40%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}

@media (max-width: 1000px){
    .centered {
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}


@media (max-width: 750px){
    .centered {
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}

@media (max-width: 350px){
    .centered {
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}   */


@media screen and (max-width: 550px){
  .centered {
      position: absolute;
      top: 30%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 8px;
    }

}

@media  screen and (max-width: 550px){
  .centered_two {
      position: absolute;
      top: 70%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 8px;
    }

}

@media screen and (max-width: 550px){
  .centered_three {
      position: absolute;
      top: 110%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 8px;
    }

}

@media screen and (max-width: 550px){
  .centered_four {
      position: absolute;
      top: 150%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 8px;
    }

}

@media screen and (max-width: 550px){
  .centered_five {
      position: absolute;
      top: 192%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 8px;
    }

}

@media screen and (max-width: 550px){
  .centered_six {
      position: absolute;
      top: 233%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 6px;
    }

}

@media screen and (max-width: 550px){
  .centered_seven {
      position: absolute;
      top: 275%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 8px;
    }

}


@media screen and (max-width: 550px){
  .centered_eight {
      position: absolute;
      top: 313%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 8px;
    }

}

@media screen and (max-width: 550px){
  .centered_nine {
      position: absolute;
      top: 355%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 8px;
    }

}

@media screen and (max-width: 550px){
  .centered_ten {
      position: absolute;
      top: 396%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 6px;
    }

}

@media screen and (max-width: 550px){
  .centered_eleven {
      position: absolute;
      top: 435%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 6px;
    }

}

@media screen and (max-width: 550px){
  .centered_twelve {
      position: absolute;
      top: 480%;
      left: 75%;
      transform: translate(-50%, -50%);
      font-size: 6px;
    }

}


