* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-transform: uppercase;
}


/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: black;
}

.brand-title {
    font-size: 2rem;
    margin: 0.5rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.brand-title a {
    text-decoration: none;
    color: black;
}

.brand-title:hover {
    background-color: #5AA239;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color:black;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #5AA239;
}

.toggle-btn {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem ;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* sticky */
#sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#grid {
    height: auto;
    display: flex;
    width: 50%;
    padding: 10px;
}

  
@media (max-width: 1100px){
    .centered {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}
@media (max-width: 1050px){
    .centered {
        position: absolute;
        top: 40%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}

@media (max-width: 1000px){
    .centered {
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}


@media (max-width: 750px){
    .centered {
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}

@media (max-width: 350px){
    .centered {
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);
      }

}

/* bio text */

.centered {
    position: absolute;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered:hover {
    color: #5AA239;

  } 

  .centered_two {
    position: absolute;
    top: 210%;
    left: 76%;
    transform: translate(-50%, -50%);
  }

  .centered_two:hover {
    color: #5AA239;

  } 
  .centered_three {
    position: absolute;
    top: 345%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_three:hover {
    color: #5AA239;

  } 
  .centered_four {
    position: absolute;
    top: 445%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_four:hover {
    color: #5AA239;

  } 

  .centered_five {
    position: absolute;
    top: 545%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_five:hover {
    color: #5AA239;

  } 
  .centered_six {
    position: absolute;
    top: 680%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_six:hover {
    color: #5AA239;

  } 
  .centered_seven {
    position: absolute;
    top: 810%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_seven:hover {
    color: #5AA239;

  } 
  .centered_eight {
    position: absolute;
    top: 950%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_eight:hover {
    color: #5AA239;

  } 
  .centered_nine {
    position: absolute;
    top: 1080%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_nine:hover {
    color: #5AA239;

  } 

  .centered_ten {
    position: absolute;
    top: 1210%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_ten:hover {
    color: #5AA239;

  } 

  .centered_eleven {
    position: absolute;
    top: 1345%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_eleven:hover {
    color: #5AA239;

  } 
  .centered_twelve {
    position: absolute;
    top: 1485%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_twelve:hover {
    color: #5AA239;

  } 
  .centered_thirteen {
    position: absolute;
    top: 1630%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_thirteen:hover {
    color: #5AA239;

  } 

  .centered_fourteen {
    position: absolute;
    top: 1750%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_fourteen:hover {
    color: #5AA239;

  } 

  .centered_fifteen {
    position: absolute;
    top: 1880%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_fifteen:hover {
    color: #5AA239;

  } 
  .centered_sixteen {
    position: absolute;
    top: 2020%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_sixteen:hover {
    color: #5AA239;

  } 

  .centered_seventeen {
    position: absolute;
    top: 2160%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_seventeen:hover {
    color: #5AA239;

  } 

  .centered_eighteen {
    position: absolute;
    top: 2290%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_eighteen:hover {
    color: #5AA239;

  } 

  .centered_nineteen {
    position: absolute;
    top: 2430%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .centered_nineteen:hover {
    color: #5AA239;

  } 
  .centered_twenty {
    position: absolute;
    top: 2570%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_twenty:hover {
    color: #5AA239;

  } 

  .centered_twenty_one {
    position: absolute;
    top: 2700%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .centered_twenty_one:hover {
    color: #5AA239;

  } 


  /* responsive */

  @media screen and (max-width: 550px){
    .centered {
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 8px;
      }
  
  }
  
  @media  screen and (max-width: 550px){
    .centered_two {
        position: absolute;
        top: 70%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 8px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_three {
        position: absolute;
        top: 110%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 8px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_four {
        position: absolute;
        top: 140%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 8px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_five {
        position: absolute;
        top: 170%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 8px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_six {
        position: absolute;
        top: 210%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_seven {
        position: absolute;
        top: 250%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 8px;
      }
  
  }
  
  
  @media screen and (max-width: 550px){
    .centered_eight {
        position: absolute;
        top: 290%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 8px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_nine {
        position: absolute;
        top: 335%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 8px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_ten {
        position: absolute;
        top: 375%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_eleven {
        position: absolute;
        top: 415%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }
  
  @media screen and (max-width: 550px){
    .centered_twelve {
        position: absolute;
        top: 455%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }

  @media screen and (max-width: 550px){
    .centered_thirteen {
        position: absolute;
        top: 500%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }

  @media screen and (max-width: 550px){
    .centered_fourteen {
        position: absolute;
        top: 540%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }

  @media screen and (max-width: 550px){
    .centered_fifteen {
        position: absolute;
        top: 578%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }


  @media screen and (max-width: 550px){
    .centered_sixteen {
        position: absolute;
        top: 620%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }

  @media screen and (max-width: 550px){
    .centered_seventeen {
        position: absolute;
        top: 660%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }


  @media screen and (max-width: 550px){
    .centered_eighteen {
        position: absolute;
        top: 700%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }

  @media screen and (max-width: 550px){
    .centered_nineteen {
        position: absolute;
        top: 743%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }


  @media screen and (max-width: 550px){
    .centered_twenty {
        position: absolute;
        top: 785%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }


  @media screen and (max-width: 550px){
    .centered_twenty_one {
        position: absolute;
        top: 825%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-size: 6px;
      }
  
  }




  